@model IEnumerable<Sharpshooter.Models.Menu>

@{
                /**/

                /**/

                ViewBag.Title = "ViewMenuAll";
                Layout = "~/Views/Shared/TempLayout.cshtml";
}
<style>
    div {
        text-align: center;
        align-content: center;
    }

    * {
        box-sizing: border-box;
    }

    .row {
        margin-left: -5px;
        margin-right: -5px;
    }

    .column {
        float: left;
        width: 50%;
        padding: 5px;
    }

    /* Clearfix (clear floats) */
    .row::after {
        content: "";
        clear: both;
        display: table;
    }

    table {
        border-collapse: collapse;
        border-spacing: 0;
        width: 100%;
        border: 1px solid #ddd;
    }

    th, td {
        text-align: left;
        padding: 16px;
    }

    tr:nth-child(even) {
        background-color: #f2f2f2;
    }
</style>
<!-- Start All Title Box -->
<div class="all-title-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>MENU</h2>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">MENU</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- End All Title Box -->


<div class="about-box-main">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h2 class="noo-sh-title">Browse Category</h2>
                <h4>
                    Select from @Model.Count()
                    genres:
                </h4>

            </div>

        </div>
    </div>
</div>






@foreach (var category in Model)
{
    @*<div style="margin-left: 100px" class="row">
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="shop-cat-box">
                    <img class="img-fluid" src="@category.MenuImg" alt="" width="100" height="50" />
                    <li class="btn hvr-hover">@Html.ActionLink(category.MenuTitle, "Browse", new { category = category.MenuTitle })"@category.MenuTitle</li>
                </div>
            </div>
        </div>*@

    <div class="list-view-box">
        <div class="row">
            <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4">
                <div class="products-single fix">
                    <div class="box-img-hover">
                        <div class="type-lb">
                            <p class="sale">Sale</p>
                        </div>
                        <img src="@category.MenuImg" class="img-fluid" alt="" width="300" height="150">
                        <div class="mask-icon">
                            <ul>
                            </ul>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-8 col-xl-8">
                <div class="why-text full-width">
                    <h4>@category.MenuDescription</h4>
                    <p>
                        <li class="btn hvr-hover">@Html.ActionLink(category.MenuTitle, "Browse", new { category = category.MenuTitle })</li>
                    </p>
                </div>
            </div>
        </div>
    </div>
}
