@model Sharpshooter.Models.MenuItem

@{
    ViewBag.Title = "Item - " + Model.MenuItemTitle;
    Layout = "~/Views/Shared/TempLayout.cshtml";
}

<style>
    p{
       align-content:center;
       text-align:center
    }
    div{
        margin-left:auto;

    }
    img{
        border-radius: 10px;
    }
</style>
<h1 style="text-align:center">@Model.MenuItemTitle</h1>


    <p style="margin:auto">
        <img src="@Url.Content(Model.MenuItemImg)" width="400" height="300" />
    </p>

    <div style="margin:auto">
        <p>
            <em>Category: </em> @Model.MenuGroup.MenuGroupTitle
        </p>

        <p>
            <em>Description:</em> @Model.MenuItemDescription
        </p>
        <p>
            <em>Ingredients: </em> @Model.MenuItemIngredients
        </p>
        <p>
            <em>Price (R): </em> @String.Format("{0:F}", Model.MenuItemCost)
        </p>

        <br />

        <p>
            @Html.ActionLink("Add To Cart", "AddToCart", "ShoppingCart", new { id = Model.MenuItemID }, "")
        </p>
    </div>

<p>
    @Html.ActionLink("Back to Full Menu", "ViewMenuAll")
</p>


<br /><br /><br /><br />
<br /><br /><br /><br />
<br /><br /><br /><br />