@model IEnumerable<Sharpshooter.Models.OrderDetail>

@{
    ViewBag.Title = "Update Order";
    Layout = "~/Views/Shared/TempLayout.cshtml";
}

<h2>Current Orders</h2>

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@
<br />
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Order.OrderId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MenuItem.MenuItemTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Order.Username)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UnitPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrderStatus)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Order.OrderId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MenuItem.MenuItemTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Order.Username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnitPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderStatus)
            </td>
            <td>
                @Html.ActionLink("Update", "Edit", new { id = item.OrderDetailId }) |
            </td>
        </tr>
    }

</table>
