
@model IEnumerable<Sharpshooter.Models.RestaurantReview>

@{
    ViewBag.Title = "Restraurant Reviews";
    Layout = "~/Views/Shared/TempLayout.cshtml";
}

<div class="all-title-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>RESTAURANT REVIEWS</h2>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">RESTAURANT REVIEWS</li>
                </ul>
            </div>
        </div>
    </div>
</div>


<br /><br />

<h2 class="noo-sh-title">Restaurant Reviews</h2>

<br />

@*<p>
        @Html.ActionLink("Write a Review", "Create")
    </p>*@


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReviewOfRestraurant)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rating)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReviewOfRestraurant)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rating)
            </td>
        </tr>
    }

</table>
