@model Sharpshooter.Models.Review

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/TempLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Review</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MenuItem.MenuItemTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MenuItem.MenuItemTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReviewOfItem)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReviewOfItem)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rating)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rating)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ReviewId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
