@model IEnumerable<Sharpshooter.Models.Review>

@{
    ViewBag.Title = "Reviews";
    Layout = "~/Views/Shared/TempLayout.cshtml";
}



<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MenuItem.MenuItemTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReviewOfItem)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rating)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MenuItem.MenuItemTitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReviewOfItem)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Rating)
        </td>

    </tr>
}

</table>
