@model IEnumerable<Sharpshooter.Models.Review>

@{
    ViewBag.Title = "Reviews";
    Layout = "~/Views/Shared/TempLayout.cshtml";
}



<div class="all-title-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>REVIEWS</h2>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">REVIEWS</li>
                </ul>
            </div>
        </div>
    </div>
</div>


<br /><br />

<h2 class="noo-sh-title">Reviews</h2>

<br />

<p>
    @using (Html.BeginForm("ViewReview", "Reviews", "RestaurantReview", FormMethod.Get))
    {
        <b> Search By User:</b>

        @Html.TextBox("search")<input type="submit" value="Search" />
    }
</p>

<p>
    @Html.ActionLink("Write a Review", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MenuItem.MenuItemTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReviewOfItem)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rating)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MenuItem.MenuItemTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReviewOfItem)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rating)
            </td>
        </tr>
    }

</table>
